name: Presenter Portal

on:
  push:
    branches:
      - main

env:
  HOSTED_ZONE_ID: Z09102521YXWQT2ZKMPP7
  FRONTEND_DOMAIN: upload.aws.nextdayvideo.com.au
  BACKEND_DOMAIN: upload-api.aws.nextdayvideo.com.au
  #SECOND_DOMAIN: upload.aws.nextdayvideo.com.au 

jobs:
  deploy-backend-bucket:
    name: Deploy backend-bucket.cfn.yaml
    runs-on: ubuntu-latest

    outputs:
      backendBucket: ${{ steps.deploy-bucket.outputs.backendBucket }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-2
        mask-aws-account-id: 'no'

    - id: install-aws-cli
      uses: unfor19/install-aws-cli-action@v1
      with:
        version: 2 # default
        verbose: false # default
        
    - name: Deploy backend-bucket.cfn.yaml
      id: deploy-bucket
      run: |
        ./deploy-bucket.cfn.yaml.sh

  deploy-certificate:
    name: Deploy certificate.cfn.yaml
    runs-on: ubuntu-latest

    outputs:
      certificate: ${{ steps.deploy.outputs.certificate }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1
        mask-aws-account-id: 'no'

    - id: install-aws-cli
      uses: unfor19/install-aws-cli-action@v1
      with:
        version: 2 # default
        verbose: false # default
        
    - name: Deploy certificate.cfn.yaml
      id: deploy
      run: |
        ./deploy-certificate.cfn.yaml.sh

  build-backend-lambda:
    name: Build backend-lambda and push to S3
    runs-on: ubuntu-latest
    needs: deploy-backend-bucket
    outputs:
      bucket: ${{ steps.build-and-push.outputs.bucket }}
      object: ${{ steps.build-and-push.outputs.object }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: actions/setup-node@v2
      with:
        node-version: '12'

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-2
        mask-aws-account-id: 'no'

    - id: install-aws-cli
      uses: unfor19/install-aws-cli-action@v1
      with:
        version: 2 # default
        verbose: false # default

    - name: Build and push to S3
      id: build-and-push
      env:
        LAMBDA_BUCKET: ${{needs.deploy-backend-bucket.outputs.backendBucket}}
      run: |
        ./backend-lambda/ci/pr.sh

  deploy-backend:
    name: Deploy Backend
    runs-on: ubuntu-latest
    needs:
    - deploy-certificate
    - build-backend-lambda

    outputs:
      frontendBucket: ${{ steps.deploy.outputs.frontendBucket }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-2
        mask-aws-account-id: 'no'

    - id: install-aws-cli
      uses: unfor19/install-aws-cli-action@v1
      with:
        version: 2 # default
        verbose: false # default
        
    - name: Deploy deployment.cfn.yaml
      id: deploy
      env:
        BACKEND_JWT_AUDIENCE: lca2021-video-uploader 
        BACKEND_JWT_PRIVATE_KEY: ${{secrets.UPLOADER_JWT_PRIVATE_KEY}}
        BACKEND_LAMBDA_S3_BUCKET: ${{needs.build-backend-lambda.outputs.bucket}}
        BACKEND_LAMBDA_S3_KEY: ${{needs.build-backend-lambda.outputs.object}}
        FRONTEND_WEBSITE_CERTIFICATE: ${{needs.deploy-certificate.outputs.certificate}}
        VEYPEAR_PRESENTER_BASE: https://portal.nextdayvideo.com.au/virtual/api
      run: |
        ./deploy-deployment.cfn.yaml.sh

  build-frontend:
    name: Build frontend and push to S3
    runs-on: ubuntu-latest
    needs: deploy-backend

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: actions/setup-node@v2
      with:
        node-version: '12'

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-2
        mask-aws-account-id: 'no'

    - id: install-aws-cli
      uses: unfor19/install-aws-cli-action@v1
      with:
        version: 2 # default
        verbose: false # default

    - name: Make envfile
      uses: SpicyPizza/create-envfile@v1
      with:
        envkey_AWS_UPLOAD_API_SERVER: /api
        file_name: frontend/.env

    - name: Build and push to S3
      id: build-and-push
      env:
        FRONTEND_BUCKET: ${{needs.deploy-backend.outputs.frontendBucket}}
      run: |
        ./frontend/ci/push.sh
